
/*在标题1处重置标题2和图片编号的值，这时图片是按标题1进行编号的*/
h1 {
  counter-reset : h2_counter img_counter ref_counter;
}

h2 {
  counter-reset : h3_counter;
}

h3 {
  counter-reset : h4_counter;
}

h1:before{
  counter-increment: h1_counter;
  content: counter(h1_counter) ". ";
}

h2:before{
  counter-increment: h2_counter;
  content: counter(h1_counter) "." counter(h2_counter) " ";
}

h3:before{ 
  counter-increment: h3_counter;
  content: counter(h1_counter) "." counter(h2_counter) "." 
           counter(h3_counter) " ";
}
  
h4:before{ 
  counter-increment: h4_counter;
  content: counter(h1_counter) "." counter(h2_counter) "." 
           counter(h3_counter) "." counter(h4_counter) " ";
}
@media print {
  h1 {
    page-break-before: always;
  }
  h1:first-of-type {
    page-break-before: avoid;
  }
}